/cmake-build-debug/
.vs/CMake Overview
.vs/L2_Projet_ProgAv-S3/v17/Browse.VC.db
.vs/L2_Projet_ProgAv-S3/v17/Browse.VC.db-shm
.vs/L2_Projet_ProgAv-S3/v17/Browse.VC.db-wal
.vs/L2_Projet_ProgAv-S3/v17/Browse.VC.opendb
.vs/L2_Projet_ProgAv-S3/v17/ipch/AutoPCH/d5155692b070be93/MAIN.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-8e132a59d23f41a304f0.json
out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-a2803a756573679e9388.json
out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-124904d8511b1a20fb89.json
out/build/x64-Debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
out/build/x64-Debug/.cmake/api/v1/reply/index-2021-12-29T15-13-02-0432.json
out/build/x64-Debug/.cmake/api/v1/reply/target-Projet_ProgAv_S3-Debug-7c228bd01200f175d1e5.json
out/build/x64-Debug/.cmake/api/v1/reply/toolchains-v1-e3d9b016906ed80cb1fb.json
out/build/x64-Debug/build.ninja
out/build/x64-Debug/cmake_install.cmake
out/build/x64-Debug/CMakeCache.txt
out/build/x64-Debug/CMakeFiles/3.21.21080301-MSVC_2/CMakeCCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.21.21080301-MSVC_2/CMakeDetermineCompilerABI_C.bin
out/build/x64-Debug/CMakeFiles/3.21.21080301-MSVC_2/CMakeRCCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.21.21080301-MSVC_2/CMakeSystem.cmake
out/build/x64-Debug/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdC/CMakeCCompilerId.c
out/build/x64-Debug/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
out/build/x64-Debug/CMakeFiles/3.21.21080301-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
out/build/x64-Debug/CMakeFiles/cmake.check_cache
out/build/x64-Debug/CMakeFiles/CMakeOutput.log
out/build/x64-Debug/CMakeFiles/rules.ninja
out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
out/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
out/build/x64-Debug/Testing/Temporary/LastTest.log
out/build/x64-Debug/VSInheritEnvironments.txt
.vs/L2_Projet_ProgAv-S3/v17/ipch/AutoPCH/74a74ad99bd8cbaa/LIST.ipch
.vs/L2_Projet_ProgAv-S3/v17/.suo
